
/* 1. EFEKT: Kartın Resmi Büyüsün  */
.img-container {
    overflow: hidden; 
}

.hoca-foto {
    transition: transform 0.5s ease; 
 
    width: 100%;
    display: block;
}

.hoca-card:hover .hoca-foto {
    transform: scale(1.01) !important; 
}

.hoca-card:hover .hoca-foto {
    transform: scale(1.1); 
}

/*  EFEKT: Sayfa Yükleme Animasyonu  */
@keyframes yukariKay {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animasyonlu-kart {
    opacity: 0; 
    animation: yukariKay 0.8s ease-out forwards;
}

/* 3. EFEKT: Hareketli Arka Plan (Header) */
.bg-animated {
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #1e3c72);
    background-size: 400% 400%;
    animation: gradientLoop 10s ease infinite;
}

@keyframes gradientLoop {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Diğer Temel Stiller */
.hoca-card {
    transition: all 0.3s ease;
    border: none;
}

    .hoca-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(30, 60, 114, 0.3) !important;
    }

.social-overlay {
    background: rgba(13, 27, 42, 0.7); 
    backdrop-filter: blur(3px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hoca-card:hover .social-overlay {
    opacity: 1;
}
